@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,600;0,700;1,400&display=swap');


:root {
--main-font: 'Source Sans Pro', sans-serif;
--secondary-font: 'Herr Von Muellerhoff', cursive;
--body-font: 'Cabin', sans-serif;
--main-font-color-dark: #1212132a;
--secondary-font-color: #c59d5f;
--body-font-color: #696969;
--main-color: #e2e2e2;
}

body {
    overflow-x: hidden;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
}

.App {
  text-align: center;
}

nav{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background-color: #292a38;
    align-items: center;
}

.title{
    font-size: 18px;
    font-weight: 100;
    color:var(--secondary-font-color);
}
nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 0 .3rem;
    color: rgb(209, 207, 207);
}
.links{
    text-decoration: none;
}
.top_banner{
    height: 40vh;
    width: 100%;
    background-image: url('https://image.tmdb.org/t/p/original/pcDc2WJAYGJTTvRSEIpRZwM3Ola.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3rem;
    display: grid;
    place-items: center;
}

.top_banner input{
    z-index: 100;
    padding: .4rem .6rem;
}

.top_banner::before{
    position: absolute;
    content: "";
    width: 100%;
    height: inherit;
    background-color: #292a386c;
    left: 0;
    right: 0;
}


.container{
   display: grid;
   grid-template-columns: repeat(5, 1fr);
}

.movie_container{
    margin: 0 .6rem;
}

.movie_container img{
    width: 350px;
    height: 300px;
    margin: .5rem;
    object-fit: cover;
    border-radius: 20px;
}
.movie_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.movie_content span{
display: flex;
}
.fas{
    color:var(--secondary-font-color);
    font-size: 1rem;
}
.movie_content span p{
    color: var(--body-font-color);
}
.loader{
    margin: 50px auto;
}

.movie_container h4{
    margin: 3rem 0;
    color: var(--secondary-font-color);
}
.movie_img{
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.movie_detail{
    margin: 3rem .8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.movie_text{
    padding: 2rem;
    text-align: left;
}
.movie_text h4{
    color: var(--secondary-font-color);
    font-size: 1.5rem;
}
.movie_text a{
    padding: .5rem 1.2rem;
    background-color: var(--secondary-font-color);
    text-decoration: none;
    color: whitesmoke;
}
.movie_text a:hover{
    background-color: red;
}

@media screen and (max-width:1029px){
    .container{
        grid-template-columns: repeat(3, 1fr);
    }
    .movie_detail{
        margin: 0;
        grid-template-columns: repeat(1, 1fr);
    }
    .movie_img{
        height: 60vh;
    }
}

@media screen and (max-width:768px){
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
.top_banner{
    width: 100%;
}
    .movie_container img{
        width: 95%;
    }
}

@media screen and (max-width:375px){
    .container{
        grid-template-columns: repeat(1, 1fr);
        place-content: center;
    }
    .movie_container img{
        width: 90%;
    }
}